<form>
	<mat-card>
		<mat-card-header>
			<mat-card-title>登录</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field class="full-width">
				<input matInput type="text" placeholder="您的Email" formControlName="email">
				<mat-error>用户名是必填项哦</mat-error>
			</mat-form-field>
			<mat-form-field class="full-width">
				<input matInput type="password" placeholder="您的密码" formControlName="password">
				<mat-error>密码不正确哦</mat-error>
			</mat-form-field>
			<button mat-raised-button type="button">登录</button>
		</mat-card-content>
		<mat-card-actions class="text-right">
			<p>还没有账户? <a href="">注册</a></p>
			<p>忘记密码? <a href="">找回</a></p>
		</mat-card-actions>
	</mat-card>

	<mat-card fxFlex="0 1 20rem">
	<mat-card-header>
		<mat-card-title>拉普拉斯之盒</mat-card-title>
		<mat-card-subtitle>
			<!-- {{ (quote$ | async)?.cn }} -->
			私のただ一つの望み。
		</mat-card-subtitle>
	</mat-card-header>
	<!-- <img matCardImage [src]="(quote$ | async)?.pic"> -->
	<img matCardImage src="/assets/img/quote_fallback.jpg" alt="">
	<mat-card-content>
		<!-- <p> {{ (quote$ | async)?.en }}</p> -->
		可能性の獣
	</mat-card-content>
</mat-card>
		
</form>