<mat-list-item class="container"
  (click)="onItemClick()"
  [ngClass]="{
  'priority-normal': item.priority === 3,
  'priority-important': item.priority === 2,
'priority-emergency': item.priority === 1}">
  <mat-checkbox (click)="onCheckBoxClick($event)" class="status" [checked]="item.completed"></mat-checkbox>
  <div matLine [matTooltip]="item.desc" class="content" [ngClass]="{'completed': item.completed}">{{item.desc}}</div>
  <div matLine class="bottom-bar">
    <span class="duedate" *ngIf="item.dueDate">{{item.dueDate | date: "yy-MM-dd"}}</span>
    <mat-icon *ngIf="item.reminder" class="alarm">alarm</mat-icon>
  </div>
  <mat-icon matListAvatar class="avatar" [svgIcon]="avatar"></mat-icon>
</mat-list-item>